<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= hotel.address %>
  </p>

  <p>
    <strong>Star rating:</strong>
    <%= hotel.star_rating %>
  </p>

  <p>
    <strong>Accomodation type:</strong>
    <%= hotel.accomodation_type %>
  </p>

</div>